/* Estilos para `GEO_IA` */
.movimiento_GEO_IA_Izq,
.movimiento_GEO_IA_Der {
  position: absolute;
  bottom: 5vh;
  width: 15vw;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  z-index: 2;
}

.movimiento_GEO_IA_Izq {
  left: 0;
  animation-name: moverYDesvanecer_Izq;
}

.movimiento_GEO_IA_Der {
  left: 0;
  animation-name: moverYDesvanecer_Der;
}

/* animación para GEO_IA entrando desde la izquierda */
@keyframes moverYDesvanecer_Izq {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* animación para GEO_IA entrando desde la derecha */
@keyframes moverYDesvanecer_Der {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 0;
    transform: translateX(100%);
  }
  65% {
    opacity: 0;
    transform: translateX(100vw);
  }
  85% {
    opacity: 0;
    transform: translateX(100vw);
  }
  90% {
    opacity: 1;
    transform: translateX(calc(100vw - 15vw));
  }
  100% {
    opacity: 1;
    transform: translateX(calc(100vw - 15vw));
  }
}

/* estilos para los globos de diálogo */
.movimiento_globoDialogo_Izq,
.movimiento_globoDialogo_Der {
  position: absolute;
  bottom: 5vh; 
  width: 15vw;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.movimiento_globoDialogo_Izq {
  left: 0vw;
  animation-name: moverYDesvanecer_globoDialogo_Izq;
  transform-origin: bottom left;
}

.movimiento_globoDialogo_Der {
  right: 0vw;
  animation-name: moverYDesvanecer_globoDialogo_Der;
  transform-origin: bottom right;
}

/* animación para el globo de diálogo izquierdo */
@keyframes moverYDesvanecer_globoDialogo_Izq {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
  10% {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
  15% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  45% {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0);
  }
}

/* animación para el globo de diálogo derecho */
@keyframes moverYDesvanecer_globoDialogo_Der {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
  90% {
    opacity: 0;
    transform: translateX(100%) scale(0);
  }
  95% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
