/* estilos generales para las huellas */
.huella {
  position: absolute;
  width: 3vw;
  opacity: 0;

  /* variables para posición y animación */
  --offset-left: calc(var(--i) * 5vw);
  --anim-duration: 10s;

  left: var(--offset-left);
  bottom: var(--offset-bottom); /* variable establecida en js del html */

  animation: aparecerHuella var(--anim-duration) forwards;
  animation-delay: calc(var(--i) * 0.2s);
}

/* animación para las huellas */
@keyframes aparecerHuella {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }    
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
